<h1>Core Assets</h1>
<div class="card">
    <div class="card-head">Polarion</div>
    <div class="card-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione incidunt omnis iusto consequuntur odio quibusdam. Dolorem reiciendis nam nulla laborum optio aut explicabo sit dignissimos nostrum modi, iste ducimus dolore.</div>
</div>
<div class="card">
    <div class="card-head">BitBucket</div>
    <div class="card-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione incidunt omnis iusto consequuntur odio quibusdam. Dolorem reiciendis nam nulla laborum optio aut explicabo sit dignissimos nostrum modi, iste ducimus dolore.</div>
</div>
<div class="card">
    <div class="card-head">Enterprise Architect</div>
    <div class="card-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione incidunt omnis iusto consequuntur odio quibusdam. Dolorem reiciendis nam nulla laborum optio aut explicabo sit dignissimos nostrum modi, iste ducimus dolore.</div>
</div>
